.CartItemCard {
    display: flex;
    padding: 1vmax;
    height: 12vmax;
    align-items: flex-start;
    box-sizing: border-box;
}

.CartItemCard>img {
    width: 10vmax;
    height: 10vmax;
}

.CartItemCard>div {
    display: flex;
    margin: 1vmax 4vmax;
    flex-direction: column;
}

.CartItemCard>div>a {
    font: 800 1.5vmax "Lato";
    font-weight: bolder;
    color: #411530;
    text-decoration: none !important;
    padding-bottom: 2vmax;
    
}

.CartItemCard>div>span {
    font: 300 1vmax "Lato";
    color: #411530;
    padding-bottom: 1vmax;
}

.CartItemCard>div>div>{
    display: flex;
    flex-direction: column;
}

.CartItemCard>div>p {
    color: #A10035;
    font: 100 1.2vmax "Poppins";
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    .CartItemCard {
        padding: 3vmax;
        height: 25vmax;
    }

    .CartItemCard>img {
        width: 10vmax;
    }

    .CartItemCard>div {
        margin: 1vmax 2vmax;
    }

    .CartItemCard>div>a {
        font: 300 2vmax cursive;
    }

    .CartItemCard>div>span {
        font: 300 1.9vmax "Roboto";
    }

    .CartItemCard>div>p {
        font: 100 1.8vmax "Roboto";
    }
}