.home {
  background-color: #fff5e4;
  height: 100vh;
}

a{
  text-decoration:none !important ;
}

.banner {
  /* background-image: url("../../images/h1.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff5e4;
  background-color: #850e35;
}

.banner > p {
  margin: 5vmax;
  font: 600 6vmax "Handlee";
  text-shadow: 2px 2px;
}

.banner > h1 {
  font: 300 1.8vmax "Montserrat";
}

.banner > a {
  text-decoration: none !important;
}

.banner > a > button {
  border-radius: 10px;
  margin-top: 2vmax;
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: #fff5e4;
  border: 1px solid #fff5e4;
  /* border-radius: 0; */
  padding-top: 0.2vmax;
  padding-bottom: 0.5vmax;
  padding-left: 0.2vmax;
  padding-right: 0.3vmax;
  transition: all 0.5s;
  width: auto;
  height: fit-content;
  font: 200 1.5vmax "Lato";
  display: flex;
  flex-direction: row;
  /* text-decoration: none !important; */
  color: #850e35;
  /* font-size: larger; */
  font-weight: bolder;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}

.btnIcon {
  padding-top: 0.2vmax;
}

.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #fff5e4;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #fff5e4;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(50% 87%, 100% 61%, 100% 100%, 0 100%, 0 61%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: "Lato";
  font-size: 2.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 40vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: black;
}

.container {
  display: flex;
  /* margin: 2vmax auto; */
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 22vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #472D2D;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #E9DAC1;
}

.productCard > img {
  padding-top: 1vmax;
  width: 20vmax;
  border-radius: 5px;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 1.2vmax "Poppins";
}

.productCard > p {
  font-family: "Poppins";
  font-size: 1.5vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 900;
}

.productCard > span {
  margin: 0.5vmax;
  color: #A10035;
  font-family: "Montserrat";
  font-size: 1.4vmax;
  font-weight: bolder;
}

a:hover {
  text-decoration:none !important ;
}

.productCard:hover {
  box-shadow: 0 0 5px black;

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Poppins";
  }
}
