.confirmOrderPage {
    height: 100vh;
    /* background-color: white; */
    /* margin-top: 10vmax; */
    display: grid;
    grid-template-columns: 6fr 3fr;
    border: 2px solid hsl(0, 22%, 23%);
    width: 80%;
   margin: auto;
   border-radius: 10px;
}

.confirmshippingArea>h1 {
    font-family: "Montserrat";
    color: #472D2D;
    font-weight: 900;
    border-bottom: 2px solid #553939;
    width: fit-content;
    padding: 1vmax;
}

.confirmOrderPage>div:last-child {
    height: 100vh;
    border-left: 2px solid rgba(0, 0, 0, 0.247);
}

.confirmshippingArea {
    padding: 5vmax;
    padding-bottom: 0%;
}

/* .confirmshippingAreaBox>div>p {
    font: 400 2.8vmax "Poppins";
} */
/* .confirmshippingArea>p>span {
    font: 400 1.8vmax "Poppins";
} */

.confirmshippingAreaBox,
.confirmCartItemsContainer {
    margin: 2vmax;
}

.confirmshippingAreaBox>div {
    display: flex;
    margin: 1vmax 0;
}

.confirmshippingAreaBox>div>p {
     font: 400 1.4vmax "Poppins";
    color: black;
}

.confirmshippingAreaBox>div>span {
    margin: 0.2vmax 0.5vmax;
    font: 100 1.2vmax "Lato";
    color: #472D2D;
}


.confirmCartItems>h1 {
     font-family: "Montserrat";
    color: #472D2D;
    font-weight: 900;
    border-bottom: 2px solid #553939;
    width: fit-content;
    padding: 1vmax;
}

.confirmCartItems>p {
    font: 400 1.8vmax "Roboto";
}

.confirmCartItems {
    padding: 5vmax;
    padding-top: 2vmax;
}

.confirmCartItemsContainer {
    max-height: 20vmax;
    overflow-y: auto;
}

.confirmCartItemsContainer>div {
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    margin: 2vmax 0;
}

.confirmCartItemsContainer>div>img {
    width: 10vmax;
    height: 10vmax;
    border-radius: 5px;
}

.confirmCartItemsContainer>div>a {
    color: #472D2D;
    margin: 0 2vmax;
    width: 50%;
    text-decoration: none;
     font: 400 1.4vmax "Poppins";
}

.confirmCartItemsContainer>div>span {
    font: 100 1vmax "Poppins";
    color: #472D2D;
    /* width: fit-content; */
}

.orderSummary {
    padding: 5vmax;
}

.orderSummary>h1 {
        font-family: "Montserrat";
    color: #472D2D;
    font-size: 2vmax;
    font-weight: bolder;
    border-bottom: 2px solid #553939;
    width: fit-content;
    /* padding: 1vmax; */
}

.orderSummary>div>div>p {
    text-align: justify;
    font: 400 1.2vmax "Lato";
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.267); */
    /* padding: 1vmax; */
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.orderSummary>div>div {
    display: flex;
    /* font: 300 1vmax "Roboto"; */
    justify-content: space-between;
    margin: 2vmax 0;
}

.orderSummary>div>div>span {
    color: rgba(0, 0, 0, 0.692);
}

.orderSummaryTotal {
    display: flex;
    font: 300 1.5vmax "Lato";
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    padding: 2vmax 0;
}

.orderSummary>button {
    background-color: #850E35;
    color: white;
    width: 100%;
    padding: 1vmax;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    font: 400 1.4vmax "Poppins";
    border-radius: 10px;
}

.orderSummary>button:hover {
    background-color: rgb(192, 71, 50);
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .confirmOrderPage {
        grid-template-columns: 1fr;
        height: unset;
    }

    .confirmOrderPage>div:last-child {
        border-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.247);
    }

    .confirmshippingArea>p {
        font: 400 6vw "Roboto";
    }

    .confirmshippingAreaBox>div {
        display: flex;
        margin: 6vw 0;
    }

    .confirmshippingAreaBox>div>p {
        font: 400 4vw "Roboto";
    }

    .confirmshippingAreaBox>div>span {
        font: 100 4vw "Roboto";
    }

    .confirmCartItems>p {
        font: 400 6vw "Roboto";
    }

    .confirmCartItemsContainer {
        max-height: 50vw;
    }

    .confirmCartItemsContainer>div {
        font: 400 4vw "Roboto";
        margin: 4vw 0;
    }

    .confirmCartItemsContainer>div>img {
        width: 10vw;
    }

    .confirmCartItemsContainer>div>a {
        margin: 0;
        width: 30%;
    }

    .confirmCartItemsContainer>div>span {
        font: 100 4vw "Roboto";
    }

    .orderSummary {
        padding: 12vw;
    }

    .orderSummary>p {
        font: 400 6vw "Roboto";
        padding: 4vw;
    }

    .orderSummary>div>div {
        font: 300 4vw "Roboto";
    }

    .orderSummaryTotal {
        font: 300 4vw "Roboto";
        padding: 5vw 0;
    }

    .orderSummary>button {
        padding: 4vw;
        margin: 4vw auto;
        font: 400 4vw "Roboto";
    }
}